
.field-width{
    width: 90%;
}
/* .container {
    margin: 20px; 
    display:flex;
    padding: 0.1%;
} */
.container-register {
    text-align: center;
}

.button-register {
    background-color:black;
    color: white;
}