/* .container {
    width: 95%;
}
.mat-card{
    width: 90%;
}
.field-width{
    width: 40%;
    padding: 1%;
} */

.button-register {
    background-color:#00695c;
    color: white;
    margin-left: 4% ;
}
/* .row{
    width: 80%;
    margin: auto;
    padding: auto;
} */
